/***********************************************
***** GENERAL STYLING
***********************************************/
html {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 10px;
}

/* border box sizing to everything */
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #210b27;
    background-color: #9d65ac;
    display: flex;
}

a {
    color: #210b27;
    text-decoration: none;

    &:hover{
        color: white;
    }
}

/* .wrapper {
    
} */


/***********************************************
***** HEADER
***********************************************/

header {
    background-color: #9d65ac;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    width: 50px;
}



/***********************************************
***** MAIN SECTION
***********************************************/
.main-heading-image {
    background-image: url(images/background-heading-image.jpg);
    width: 100%;
    height: 800px;
    background-size: 100%;
    background-position: bottom;
}